* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* Contenido principal */
.main-content {
    flex-grow: 1; /* Permite que el contenido ocupe el espacio disponible */
}

/* Reseñas */
.reviews-container {
    text-align: center;
    padding: 40px 0;
}

.reviews-title {
    font-size: 28px;
    font-weight: bold;
    color: #1E2A38;
    margin-bottom: 10px;
}

.reviews-description {
    font-size: 18px;
    color: #4A4A4A;
    margin-bottom: 20px;
}

/* Servicios */
.accordion-content {
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
}
.accordion-content.active {
    max-height: 500px;
}

/* Trabajos realizados */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

/* Sección FAQ */
#faq {
    max-width: 800px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

#faq h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2c3e50;
}

.faq-container {
    text-align: left;
}

.faq-item {
    background: #f8f9fa;
    margin: 10px 0;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.faq-question {
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    background: #ffffff;
    border: none;
    cursor: pointer;
    text-align: left;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    transition: background 0.3s;
}

.faq-question:hover {
    background: #e9ecef;
}

.faq-answer {
    display: none;
    padding: 15px;
    background: #ffffff;
    font-size: 1rem;
    line-height: 1.6;
}

.faq-answer p {
    margin: 0;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .faq-question {
    background: #e9ecef;
}
